<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="outer">
        <div class="inner">
            <form action="/verify" method="post">
                <label class="item" for="mail">Enter Your mail</label>
                <input class="item" type="mail" name="mail" id="mail" placeholder="Mail@gmail.com">

                <label class="item" for="mail">Enter Your Name</label>
                <input class="item" type="text" name="name" id="name" placeholder="ReginaMotvani">

                <button type="submit">Okay</button>
            </form>
        </div>
    </div>
</body>
</html>