<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="outer">
        <div class="inner">
            <form action="/verify-otp" method="post">
                <label class="item" for="otp">Enter OTP</label>
                <input class="item" type="number" name="otp" id="otp" placeholder="000000">
                <button class="submitb" type="submit">Okay</button>
            </form>
        </div>
    </div>
</body>
</html>